$verdeOscuro: #1c4946;
$blanco: #fffeff;
$verdeMenta: #b7e8d3;
$verdeMar: #118b58;

@mixin espacio-campos {
    padding-left: 0.8em;
    padding-right: 0.8em;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    border-radius: 1em;
    border: 0em;
}

td {
    @include espacio-campos();
}

th {
    @include espacio-campos();
    align-items: center;
    color: $blanco;
}

table {
    color: inherit;
    border-collapse: separate;
}

.bg-blanco {
    background-color: $blanco;
}

.bg-verde-menta {
    background-color: $verdeMenta;
}

.bg-verde-oscuro {
    background-color: $verdeOscuro;
}

.bg-table {
    background: rgb(56,180,128);
    background: linear-gradient(291deg, rgba(56,180,128,1) 71%, rgba(16,136,85,1) 100%);
}
