<div class="container bg-dark">
    <br>
    <button type="button" class="btn btn-outline-light btn-xl justify-content">
        <h2>Resultados semanales</h2>
    </button>
    <br>
</div>
<div class="container">
    <br>
    <table class="table">
        <tbody>
            <tr>
                <th>Dia</th>
                <th>Loteria</th>
                <th>Ganó</th>
                <th>Serie</th>
                <th>Favorito</th>
                <th>Fecha</th>
                <th>Hora</th>
            </tr>
            <tr>
                <th scope="row">Lunes</th>
                <td>
                    <table style="width: 100%;">
                        <tbody>
                            <tr>
                                <td>1564</td>
                            </tr>
                            <tr>
                                <td>5444</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td>
                    <table style="width: 100%;">
                        <tbody>
                            <tr>
                                <td>1564</td>
                            </tr>
                            <tr>
                                <td>5444</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <th scope="row">Martes</th>
                <td>Loteria</td>
                <td>Ganó</td>
                <td>Serie</td>
                <td>Favorito</td>
                <td>Fecha</td>
                <td>Hora</td>
            </tr>
            <tr>
                <th scope="row">Miercoles</th>
                <td>Loteria</td>
                <td>Ganó</td>
                <td>Serie</td>
                <td>Favorito</td>
                <td>Fecha</td>
                <td>Hora</td>
            </tr>
            <tr>
                <th scope="row">Jueves</th>
                <td>Loteria</td>
                <td>Ganó</td>
                <td>Serie</td>
                <td>Favorito</td>
                <td>Fecha</td>
                <td>Hora</td>
            </tr>
            <tr>
                <th scope="row">Viernes</th>
                <td>Loteria</td>
                <td>Ganó</td>
                <td>Serie</td>
                <td>Favorito</td>
                <td>Fecha</td>
                <td>Hora</td>
            </tr>
            <tr>
                <th scope="row">Sabado</th>
                <td>Loteria</td>
                <td>Ganó</td>
                <td>Serie</td>
                <td>Favorito</td>
                <td>Fecha</td>
                <td>Hora</td>
            </tr>
        </tbody>
    </table>
</div>
