<div class="container bg-table">
    <br>
    <div class="container padre-centrar-contenido">
        <br>
        <button type="button" class="btn btn-outline-light">
            <h2 class="text-center">Resultados semanales</h2>
        </button>
        <br>
    </div>
    <div class="container">
        <br>
        <table class="table text-center">
            <tbody>
                <tr>
                    <th class="bg-verde-oscuro">Dia</th>
                    <th class="bg-verde-oscuro">Loteria</th>
                    <th class="bg-verde-oscuro">Ganó</th>
                    <th class="bg-verde-oscuro">Serie</th>
                    <th class="bg-verde-oscuro">Favorito</th>
                    <th class="bg-verde-oscuro">Fecha</th>
                    <th class="bg-verde-oscuro">Hora</th>
                </tr>
                <tr>
                    <th scope="row" class="text-left bg-verde-oscuro align-middle">Lunes</th>
                    <td>
                        <table>
                            <tbody>
                                <tr>
                                    <td class="bg-blanco">1564</td>
                                </tr>
                                <tr>
                                    <td class="bg-blanco">5444</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td>
                        <table>
                            <tbody>
                                <tr>
                                    <td class="bg-blanco">1564</td>
                                </tr>
                                <tr>
                                    <td class="bg-blanco">5444</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td>
                        <table>
                            <tbody>
                                <tr>
                                    <td class="bg-blanco">1564</td>
                                </tr>
                                <tr>
                                    <td class="bg-blanco">5444</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td>
                        <table>
                            <tbody>
                                <tr>
                                    <td class="bg-blanco">1564</td>
                                </tr>
                                <tr>
                                    <td class="bg-blanco">5444</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td>
                        <table>
                            <tbody>
                                <tr>
                                    <td class="bg-blanco">1564</td>
                                </tr>
                                <tr>
                                    <td class="bg-blanco">5444</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td>
                        <table>
                            <tbody>
                                <tr>
                                    <td class="bg-blanco">1564</td>
                                </tr>
                                <tr>
                                    <td class="bg-blanco">5444</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                <tr>
                    <th scope="row" class="text-left bg-verde-oscuro align-middle">Martes</th>
                    <td>
                        <table>
                            <tbody>
                                <tr>
                                    <td class="bg-verde-menta">1564</td>
                                </tr>
                                <tr>
                                    <td class="bg-verde-menta">5444</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td>
                        <table>
                            <tbody>
                                <tr>
                                    <td class="bg-verde-menta">1564</td>
                                </tr>
                                <tr>
                                    <td class="bg-verde-menta">5444</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td>
                        <table>
                            <tbody>
                                <tr>
                                    <td class="bg-verde-menta">1564</td>
                                </tr>
                                <tr>
                                    <td class="bg-verde-menta">5444</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td>
                        <table>
                            <tbody>
                                <tr>
                                    <td class="bg-verde-menta">1564</td>
                                </tr>
                                <tr>
                                    <td class="bg-verde-menta">5444</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td>
                        <table>
                            <tbody>
                                <tr>
                                    <td class="bg-verde-menta">1564</td>
                                </tr>
                                <tr>
                                    <td class="bg-verde-menta">5444</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td>
                        <table>
                            <tbody>
                                <tr>
                                    <td class="bg-verde-menta">1564</td>
                                </tr>
                                <tr>
                                    <td class="bg-verde-menta">5444</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="text-left bg-verde-oscuro align-middle">Miercoles</th>
                    <td>
                        <table>
                            <tbody>
                                <tr>
                                    <td class="bg-blanco">1564</td>
                                </tr>
                                <tr>
                                    <td class="bg-blanco">5444</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td>
                        <table>
                            <tbody>
                                <tr>
                                    <td class="bg-blanco">1564</td>
                                </tr>
                                <tr>
                                    <td class="bg-blanco">5444</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td>
                        <table>
                            <tbody>
                                <tr>
                                    <td class="bg-blanco">1564</td>
                                </tr>
                                <tr>
                                    <td class="bg-blanco">5444</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td>
                        <table>
                            <tbody>
                                <tr>
                                    <td class="bg-blanco">1564</td>
                                </tr>
                                <tr>
                                    <td class="bg-blanco">5444</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td>
                        <table>
                            <tbody>
                                <tr>
                                    <td class="bg-blanco">1564</td>
                                </tr>
                                <tr>
                                    <td class="bg-blanco">5444</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td>
                        <table>
                            <tbody>
                                <tr>
                                    <td class="bg-blanco">1564</td>
                                </tr>
                                <tr>
                                    <td class="bg-blanco">5444</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="text-left bg-verde-oscuro align-middle">Jueves</th>
                    <td>
                        <table>
                            <tbody>
                                <tr>
                                    <td class="bg-verde-menta">1564</td>
                                </tr>
                                <tr>
                                    <td class="bg-verde-menta">5444</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td>
                        <table>
                            <tbody>
                                <tr>
                                    <td class="bg-verde-menta">1564</td>
                                </tr>
                                <tr>
                                    <td class="bg-verde-menta">5444</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td>
                        <table>
                            <tbody>
                                <tr>
                                    <td class="bg-verde-menta">1564</td>
                                </tr>
                                <tr>
                                    <td class="bg-verde-menta">5444</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td>
                        <table>
                            <tbody>
                                <tr>
                                    <td class="bg-verde-menta">1564</td>
                                </tr>
                                <tr>
                                    <td class="bg-verde-menta">5444</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td>
                        <table>
                            <tbody>
                                <tr>
                                    <td class="bg-verde-menta">1564</td>
                                </tr>
                                <tr>
                                    <td class="bg-verde-menta">5444</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td>
                        <table>
                            <tbody>
                                <tr>
                                    <td class="bg-verde-menta">1564</td>
                                </tr>
                                <tr>
                                    <td class="bg-verde-menta">5444</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="text-left bg-verde-oscuro align-middle">Viernes</th>
                    <td>
                        <table>
                            <tbody>
                                <tr>
                                    <td class="bg-blanco">1564</td>
                                </tr>
                                <tr>
                                    <td class="bg-blanco">5444</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td>
                        <table>
                            <tbody>
                                <tr>
                                    <td class="bg-blanco">1564</td>
                                </tr>
                                <tr>
                                    <td class="bg-blanco">5444</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td>
                        <table>
                            <tbody>
                                <tr>
                                    <td class="bg-blanco">1564</td>
                                </tr>
                                <tr>
                                    <td class="bg-blanco">5444</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td>
                        <table>
                            <tbody>
                                <tr>
                                    <td class="bg-blanco">1564</td>
                                </tr>
                                <tr>
                                    <td class="bg-blanco">5444</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td>
                        <table>
                            <tbody>
                                <tr>
                                    <td class="bg-blanco">1564</td>
                                </tr>
                                <tr>
                                    <td class="bg-blanco">5444</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td>
                        <table>
                            <tbody>
                                <tr>
                                    <td class="bg-blanco">1564</td>
                                </tr>
                                <tr>
                                    <td class="bg-blanco">5444</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="text-left bg-verde-oscuro align-middle">Sabado</th>
                    <td>
                        <table>
                            <tbody>
                                <tr>
                                    <td class="bg-verde-menta">1564</td>
                                </tr>
                                <tr>
                                    <td class="bg-verde-menta">5444</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td>
                        <table>
                            <tbody>
                                <tr>
                                    <td class="bg-verde-menta">1564</td>
                                </tr>
                                <tr>
                                    <td class="bg-verde-menta">5444</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td>
                        <table>
                            <tbody>
                                <tr>
                                    <td class="bg-verde-menta">1564</td>
                                </tr>
                                <tr>
                                    <td class="bg-verde-menta">5444</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td>
                        <table>
                            <tbody>
                                <tr>
                                    <td class="bg-verde-menta">1564</td>
                                </tr>
                                <tr>
                                    <td class="bg-verde-menta">5444</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td>
                        <table>
                            <tbody>
                                <tr>
                                    <td class="bg-verde-menta">1564</td>
                                </tr>
                                <tr>
                                    <td class="bg-verde-menta">5444</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td>
                        <table>
                            <tbody>
                                <tr>
                                    <td class="bg-verde-menta">1564</td>
                                </tr>
                                <tr>
                                    <td class="bg-verde-menta">5444</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
        <br>
    </div>
</div>
