<div class="container bg-dark">
    <br>
    <button type="button" class="btn btn-outline-light btn-xl">
        <h2 class="text-center">Resultados semanales</h2>
    </button>
    <br>
</div>
<div class="container">
    <br>
    <table class="table text-center">
        <tbody>
            <tr>
                <th>Dia</th>
                <th>Loteria</th>
                <th>Ganó</th>
                <th>Serie</th>
                <th>Favorito</th>
                <th>Fecha</th>
                <th>Hora</th>
            </tr>
            <tr>
                <th scope="row" class="text-left">Lunes</th>
                <td>
                    <table style="width: 100%;">
                        <tbody>
                            <tr>
                                <td>1564</td>
                            </tr>
                            <tr>
                                <td>5444</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td>
                    <table style="width: 100%;">
                        <tbody>
                            <tr>
                                <td>1564</td>
                            </tr>
                            <tr>
                                <td>5444</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td>
                    <table style="width: 100%;">
                        <tbody>
                            <tr>
                                <td>1564</td>
                            </tr>
                            <tr>
                                <td>5444</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td>
                    <table style="width: 100%;">
                        <tbody>
                            <tr>
                                <td>1564</td>
                            </tr>
                            <tr>
                                <td>5444</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td>
                    <table style="width: 100%;">
                        <tbody>
                            <tr>
                                <td>1564</td>
                            </tr>
                            <tr>
                                <td>5444</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td>
                    <table style="width: 100%;">
                        <tbody>
                            <tr>
                                <td>1564</td>
                            </tr>
                            <tr>
                                <td>5444</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
            <tr>
                <th scope="row" class="text-left">Martes</th>
                <td>
                    <table style="width: 100%;">
                        <tbody>
                            <tr>
                                <td>1564</td>
                            </tr>
                            <tr>
                                <td>5444</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td>
                    <table style="width: 100%;">
                        <tbody>
                            <tr>
                                <td>1564</td>
                            </tr>
                            <tr>
                                <td>5444</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td>
                    <table style="width: 100%;">
                        <tbody>
                            <tr>
                                <td>1564</td>
                            </tr>
                            <tr>
                                <td>5444</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td>
                    <table style="width: 100%;">
                        <tbody>
                            <tr>
                                <td>1564</td>
                            </tr>
                            <tr>
                                <td>5444</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td>
                    <table style="width: 100%;">
                        <tbody>
                            <tr>
                                <td>1564</td>
                            </tr>
                            <tr>
                                <td>5444</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td>
                    <table style="width: 100%;">
                        <tbody>
                            <tr>
                                <td>1564</td>
                            </tr>
                            <tr>
                                <td>5444</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <th scope="row" class="text-left">Miercoles</th>
                <td>
                    <table style="width: 100%;">
                        <tbody>
                            <tr>
                                <td>1564</td>
                            </tr>
                            <tr>
                                <td>5444</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td>
                    <table style="width: 100%;">
                        <tbody>
                            <tr>
                                <td>1564</td>
                            </tr>
                            <tr>
                                <td>5444</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td>
                    <table style="width: 100%;">
                        <tbody>
                            <tr>
                                <td>1564</td>
                            </tr>
                            <tr>
                                <td>5444</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td>
                    <table style="width: 100%;">
                        <tbody>
                            <tr>
                                <td>1564</td>
                            </tr>
                            <tr>
                                <td>5444</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td>
                    <table style="width: 100%;">
                        <tbody>
                            <tr>
                                <td>1564</td>
                            </tr>
                            <tr>
                                <td>5444</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td>
                    <table style="width: 100%;">
                        <tbody>
                            <tr>
                                <td>1564</td>
                            </tr>
                            <tr>
                                <td>5444</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <th scope="row" class="text-left">Jueves</th>
                <td>
                    <table style="width: 100%;">
                        <tbody>
                            <tr>
                                <td>1564</td>
                            </tr>
                            <tr>
                                <td>5444</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td>
                    <table style="width: 100%;">
                        <tbody>
                            <tr>
                                <td>1564</td>
                            </tr>
                            <tr>
                                <td>5444</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td>
                    <table style="width: 100%;">
                        <tbody>
                            <tr>
                                <td>1564</td>
                            </tr>
                            <tr>
                                <td>5444</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td>
                    <table style="width: 100%;">
                        <tbody>
                            <tr>
                                <td>1564</td>
                            </tr>
                            <tr>
                                <td>5444</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td>
                    <table style="width: 100%;">
                        <tbody>
                            <tr>
                                <td>1564</td>
                            </tr>
                            <tr>
                                <td>5444</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td>
                    <table style="width: 100%;">
                        <tbody>
                            <tr>
                                <td>1564</td>
                            </tr>
                            <tr>
                                <td>5444</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <th scope="row" class="text-left">Viernes</th>
                <td>
                    <table style="width: 100%;">
                        <tbody>
                            <tr>
                                <td>1564</td>
                            </tr>
                            <tr>
                                <td>5444</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td>
                    <table style="width: 100%;">
                        <tbody>
                            <tr>
                                <td>1564</td>
                            </tr>
                            <tr>
                                <td>5444</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td>
                    <table style="width: 100%;">
                        <tbody>
                            <tr>
                                <td>1564</td>
                            </tr>
                            <tr>
                                <td>5444</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td>
                    <table style="width: 100%;">
                        <tbody>
                            <tr>
                                <td>1564</td>
                            </tr>
                            <tr>
                                <td>5444</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td>
                    <table style="width: 100%;">
                        <tbody>
                            <tr>
                                <td>1564</td>
                            </tr>
                            <tr>
                                <td>5444</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td>
                    <table style="width: 100%;">
                        <tbody>
                            <tr>
                                <td>1564</td>
                            </tr>
                            <tr>
                                <td>5444</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <th scope="row" class="text-left">Sabado</th>
                <td>
                    <table style="width: 100%;">
                        <tbody>
                            <tr>
                                <td>1564</td>
                            </tr>
                            <tr>
                                <td>5444</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td>
                    <table style="width: 100%;">
                        <tbody>
                            <tr>
                                <td>1564</td>
                            </tr>
                            <tr>
                                <td>5444</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td>
                    <table style="width: 100%;">
                        <tbody>
                            <tr>
                                <td>1564</td>
                            </tr>
                            <tr>
                                <td>5444</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td>
                    <table style="width: 100%;">
                        <tbody>
                            <tr>
                                <td>1564</td>
                            </tr>
                            <tr>
                                <td>5444</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td>
                    <table style="width: 100%;">
                        <tbody>
                            <tr>
                                <td>1564</td>
                            </tr>
                            <tr>
                                <td>5444</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td>
                    <table style="width: 100%;">
                        <tbody>
                            <tr>
                                <td>1564</td>
                            </tr>
                            <tr>
                                <td>5444</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>
